body {
	width: 151px;
	user-select: none;
	font-family: "Segoe UI", Tahoma, sans-serif;
	font-size: 75%;
	display: block;
	margin: 8px;
	overflow-x: hidden;
}

#status {
	text-align: right;
	width: 55%;
	float: right;
	margin-right: 5px;
	margin-top: 5px;
	margin-bottom: 5px;
}

#status.fade {
	animation: fadeOut 2s forwards;
	animation-delay: 2s;
}

@keyframes fadeOut {
	from {
		opacity: 1;
	}

	to {
		opacity: 0;
	}
}

.container {
	height: 17px;
	width: 98%;
	padding-bottom: 6px;
	padding-top: 6px;
	padding-left: 4px;
	background-color: #f1f1f1;
}

.container:hover {
	background-color: #dfdfdf;
}

.switch {
	position: relative;
	display: inline-block;
	width: 30px;
	height: 17px;
	cursor: pointer;
}

.switch input {
	display: none;
}

.slider {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #ccc;
	-webkit-transition: .2s;
	transition: .2s;
	border-radius: 17px;
}

.slider:before {
	position: absolute;
	content: "";
	height: 13px;
	width: 13px;
	left: 2px;
	bottom: 2px;
	background-color: white;
	-webkit-transition: .2s;
	transition: .2s;
	border-radius: 50%;
}

input:checked+.slider {
	background-color: #2196F3;
}

input:focus+.slider {
	box-shadow: 0 0 1px #2196F3;
}

input:checked+.slider:before {
	-webkit-transform: translateX(13px);
	-ms-transform: translateX(13px);
	transform: translateX(13px);
}

.label {
	padding-left: 40px;
	width: 150px;
}