/*--------------------------------------------------------------------------------------*/
/*                                GE Market Count Chart                                 */
/*--------------------------------------------------------------------------------------*/

#countchart>div>div {
	margin: 0 auto;
}

.chart__set.chart__set--count .chart__main-title {
	margin-top: 20px;
	margin-bottom: 0;
}

/*--------------------------------------------------------------------------------------*/
/*                                   Homepage Tweaks                                    */
/*--------------------------------------------------------------------------------------*/

.main .promoBoxes .inner::before,
.main .promoBoxes .inner::after {
	z-index: 2;
}

#home .banner::before,
#home .banner::after {
	z-index: 3;
}

#promos {
	z-index: 2;
}
